:root {
  scroll-behavior: smooth;
}

:root.dark {
  color-scheme: dark;
}

/* .document-driven-page .prose {
  --tw-prose-links: rgb(var(--folio-color-primary-600));
}
.dark .document-driven-page .prose {
  --tw-prose-links: rgb(var(--folio-color-primary-400));
} */